@{
    ViewData["Title"] = "Compose";
}
    <div class="container">
        <div class="row">
            <div class="col-3">
                <ul class="list-group">
                    <li class="list-group-item">
                         <a href="/">Inbox</a></li>
                    <li class="list-group-item">
                        <a href="/SentEmail">Sent</a>
                    </li>
                    <li class="list-group-item">
                        <a href="/Compose">Compose</a>
                    </li>
                  </ul>
            </div>
            <div class="col">
                <form action="/Compose/ReceiveEmail" method="POST">

                    <div class="form-group wrap-compose d-flex flex-wrap align-items-center">
                        <!-- <span class="nameReceiver">thach</span>
                        <span class="nameReceiver">thach</span>
                        <span class="nameReceiver">thach</span>
                        <span class="nameReceiver">thach</span>
                        <span class="nameReceiver">thach</span>
                        <span class="nameReceiver">thach</span> -->
                        <textarea placeholder="Tên người nhận" class="form-control js-formatInputName"></textarea>
                        <input id="userName" name="userName">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="title" name="titleEmail">
                    </div>
                    <div class="form-group">
                          <textarea rows="4" class="form-control" cols="50" name="contentEmail"></textarea>
                    </div>
                    
                    <button type="submit" class="btn btn-primary" id="sendEmail">Send</button>
                </form>
            </div>
        </div>
    </div>
